<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>mycollege</display-name>
	<servlet>
		<servlet-name>SessionLastAccessTime</servlet-name>
		<servlet-class>SessionLastAccessTime</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SessionLastAccessTime</servlet-name>
		<url-pattern>/SessionLastAccessTime</url-pattern>
	</servlet-mapping>
	 <servlet>
        <servlet-name>GetSessionValue</servlet-name>
        <servlet-class>GetSessionValue</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>GetSessionValue</servlet-name>
        <url-pattern>/GetSessionValue</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HitCounter</servlet-name>
        <servlet-class>HitCounter</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>HitCounter</servlet-name>
        <url-pattern>/HitCounter</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>ServletInsertingData</servlet-name>
        <servlet-class>ServletInsertingData</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>ServletInsertingData</servlet-name>
        <url-pattern>/ServletInsertingData</url-pattern>
    </servlet-mapping>
	</servlet>
	<servlet-name>ServletFetchingData</servlet-name>
        <servlet-class>ServletFetchingData</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>ServletFetchingData</servlet-name>
        <url-pattern>/ServletFetchingData</url-pattern>
    </servlet-mapping>
	<servlet>
		<servlet-name>ServletInsertdatabase</servlet-name>
		<servlet-class>ServletInsertdatabase</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>ServletInsertdatabase</servlet-name>
        <url-pattern>/ServletInsertdatabase</url-pattern>
    </servlet-mapping>
	<servlet>
		<servlet-name>Servletfetchdatabase</servlet-name>
		<servlet-class>Servletfetchdatabase</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>Servletfetchdatabase</servlet-name>
        <url-pattern>/Servletfetchdatabase</url-pattern>
    </servlet-mapping>
	<servlet>
		<servlet-name>Leftjoin</servlet-name>
        <servlet-class>Leftjoin</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>Leftjoin</servlet-name>
        <url-pattern>/Leftjoin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cookie</servlet-name>
        <servlet-class>cookie</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>cookie</servlet-name>
        <url-pattern>/cookie</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>cookie1</servlet-name>
        <servlet-class>cookie1</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>cookie1</servlet-name>
        <url-pattern>/cookie1</url-pattern>
    </servlet-mapping>
	    <servlet>
        <servlet-name>Hidden</servlet-name>
        <servlet-class>Hidden</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>Hidden</servlet-name>
        <url-pattern>/Hidden</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Hidden1</servlet-name>
        <servlet-class>Hidden1</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>Hidden1</servlet-name>
        <url-pattern>/Hidden1</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>url</servlet-name>
        <servlet-class>url</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>url</servlet-name>
        <url-pattern>/url</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>url1</servlet-name>
        <servlet-class>url1</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>url1</servlet-name>
        <url-pattern>/url1</url-pattern>
    </servlet-mapping>
	<servlet>
		<servlet-name>admin</servlet-name>
		<servlet-class>admin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>admin</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	<filter>  
	<filter-name>f1</filter-name>  
	<filter-class>auth</filter-class>  
	</filter>  
	<filter-mapping>  
	<filter-name>f1</filter-name>  
	<url-pattern>/admin</url-pattern>  
	</filter-mapping>  
</web-app>