<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>hello</servlet-name>
        <servlet-class>hello</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>p10</servlet-name>
        <servlet-class>p10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>multiparam</servlet-name>
        <servlet-class>multiparam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>caltime</servlet-name>
        <servlet-class>caltime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>redirect</servlet-name>
        <servlet-class>redirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>redirect1</servlet-name>
        <servlet-class>redirect1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checking</servlet-name>
        <servlet-class>checking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chceking1</servlet-name>
        <servlet-class>chceking1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dice</servlet-name>
        <servlet-class>dice</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>p10</servlet-name>
        <url-pattern>/p10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>multiparam</servlet-name>
        <url-pattern>/multiparam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>caltime</servlet-name>
        <url-pattern>/caltime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>redirect</servlet-name>
        <url-pattern>/redirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>redirect1</servlet-name>
        <url-pattern>/redirect1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checking</servlet-name>
        <url-pattern>/checking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chceking1</servlet-name>
        <url-pattern>/chceking1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dice</servlet-name>
        <url-pattern>/dice</url-pattern>
    </servlet-mapping>
</web-app>
